---
layout: default
article: true
---

<header class="{% if page.dark %}dark{% else %}clean{% endif %}" style="background-image: url({% if page.image %}{{ page.image }}{% else %}{{ site.cover }}{% endif %}); height: 100%;" >
	{% include top.html %}
	<div id="post-info">
		<h1>{{ page.title }}</h1>
		{% if page.quote %}
			<h2>{{ page.quote }}</h2>
		{% endif %}
	</div>
	<div id="nav-icon" style="bottom: 30px;">
		<a class="scroll" data-speed="500" href="#article"><span class="genericon genericon-expand"></span></a>
	</div>
</header>
<div id="middle">
	<div id="article">
		{{ content }}
	</div>
	{% if site.commentsystem %}{% if page.comments != false %}
	<div id="comments">
		{% include comments.html %}
	</div>
	{% endif %}{% endif %}
</div>
{% if page.next %}
	{% capture footer_style %}{% if page.next.dark %}dark{% else %}clean{% endif %}{% endcapture %}
	{% capture footer_image %}{% if page.next.image %}{{ page.next.image }}{% else %}{{ site.cover }}{% endif %}{% endcapture %}
	{% capture footer_message %}Read next{% endcapture %}
	{% capture footer_url %}{{ page.next.url }}{% endcapture %}
	{% capture footer_title %}{{ page.next.title }}{% endcapture %}
	{% capture footer_quote %}{{ page.next.quote }}{% endcapture %}
{% else %}
	{% for post in site.related_posts limit:1 %}
		{% capture footer_style %}{% if post.dark %}dark{% else %}clean{% endif %}{% endcapture %}
		{% capture footer_image %}{% if post.image %}{{ post.image }}{% else %}{{ site.cover }}{% endif %}{% endcapture %}
		{% capture footer_message %}Featured post{% endcapture %}
		{% capture footer_url %}{{ post.url }}{% endcapture %}
		{% capture footer_title %}{{ post.title }}{% endcapture %}
		{% capture footer_quote %}{{ post.quote }}{% endcapture %}
	{% endfor %}
{% endif %}
<footer class="{{ footer_style }}" style="background-image: url({% if footer_image %}{{ footer_image }}{% else %}{{ site.cover }}{% endif %}); height: 75%; min-height: 500px;">
	<div id="nav-icon" style="top: 60px;">
		<a class="scroll" data-speed="500" href="#article"><span class="genericon genericon-collapse"></span></a>
	</div>
	<div id="post-info">
		<h3>{{ footer_message }}</h3>
		<a href="{{ footer_url }}">
			<h1>{{ footer_title }}</h1>
			{% if footer_quote %}
				<h2>{{ footer_quote }}</h2>
			{% endif %}
		</a>
	</div>
	<p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>. <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>.</p>
</footer>
<script src="/assets/js/smooth-scroll.js"></script>
